{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}

{% block block %}
    <div id="breadcrumb">
        {% set currentItem = knp_menu_get('main').currentItem %}
        {% if currentItem %}
            {% for title, url in currentItem.breadcrumbsArray %}
                {% if not loop.first and not loop.last %}<a href="{{url}}">{{ title }}</a>{% endif %}
                {% if loop.last %}<strong>{{ title }}</strong>{% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
